.navbar {
  background-color: #333;
  color: white;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  font-family: "Goldman", sans-serif;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Goldman", sans-serif;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .navbar-logo a {
    font-size: 18px;
  }

  .navbar-links a {
    font-size: 14px;
  }
}
